<div class="sidebar_outer_container">
    <div class="sidebar_holder">
        <div class="panel-group" id="leftMenu">
            <div class="panel panel-default">
                <div class="panel-heading main_heading">
                    <a class="sidebar-toggle left_heading" data-toggle="collapse" data-parent="#leftMenu" href="#">
                          <i class="icon-home"></i> Dashboard
                    </a>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="sidebar-toggle each_left_sec_title" target="_self" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                        <i class="icon-th"></i> Brand
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px; ">
                    <div class="panel-body">
                     
                        <div class="sub_each_section">
                            <a href="#/addBrand">Add</a>
                        </div><hr>
                      
                    </div>
                </div>
                <div class="panel-heading">
                    <a class="sidebar-toggle each_left_sec_title" target="_self" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                        <i class="icon-th"></i> Category
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px; ">
                    <div class="panel-body">
                     
                        <div class="sub_each_section">
                            <!-- <a href="#/addCatagory">Add</a> -->
                        </div><hr>
                      
                    </div>
                </div>
            </div>
        </div>               
    </div>
</div><!-- end of sidebar_outer_container -->